In [1]:
# Import Dependencies
import pandas as pd
import json
import glob

# DATA PREPARATION - New JSON
new_df_combined = pd.read_json('ALLsemesters.json')
new_df_combined.drop('toeflScore', axis=1, inplace=True)

new_df_combined

,status,applicationDate,decisionDate,education,recommendations,experience,statementOfPurpose,comments,gre,moocs,relevantCreditCourses
0,Accepted,01/19/2021,04/23/2021,"{'institution': 'Big State School', 'degree': ...",0,"Unrelated(Active Duty Air Force), open source ...",Y,"All A's for prereq's, including the ones on th...",NaN,NaN,NaN
1,Accepted,12/28/2020,04/08/2021,"{'institution': 'University of Minnesota', 'de...",1,"3 years as machine learning engineer, 3 years ...",Y,I also have publications and thesis. Generally...,NaN,NaN,NaN
2,Rejected,01/12/2021,05/10/2022,"{'institution': 'University of Illinois', 'deg...",1,"3 years, manufacturing, Python & SQL",Y,"Got rejected, but I've already accepted an adm...",NaN,NaN,NaN
3,Accepted,02/02/2021,04/08/2021,"{'degree': 'BS in Health Sciences', 'instituti...",3,5 years in research in academia which involved...,Y,Nervous and will need to do a lot of studying ...,NaN,NaN,NaN
4,Accepted,03/18/2021,04/23/2021,"{'institution': 'UT Austin', 'degree': 'BS in ...",3,NaN,Y,My Weakness - I know my 3.92 GPA seems like a ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
67,Accepted,09/15/2022,10/26/2022,"{'institution': 'Not Stated', 'degree': 'BS in...",2,Manufacturing Operations and Quality 8 yrs,Talked about experience working on Stats and r...,NaN,NaN,Coursera ML Mathematics and Python,NaN
68,Accepted,09/15/2022,11/03/2022,"{'institution': 'UCSD', 'degree': 'MS in Mater...",3,"Community college professor (tenured, 8 years)...",Explained the big project I wanted to work on ...,NaN,NaN,none,NaN
69,Accepted,06/05/2022,09/27/2022,"{'institution': 'UT Austin', 'degree': 'MA in ...",0,"Not much, but I just accepted a position as an...",Explained how I am passionate about building a...,NaN,"{'quantitative': 160, 'verbal': 168, 'writing'...",1 - Deep Learning with PyTorch from IBM,NaN
70,Accepted,08/06/2022,09/28/2022,"{'institution': 'Not Stated', 'degree': 'BS in...",2,"15 Years, Cloud, DevOps, Python, ML",Explained how my previous experience is relate...,NaN,NaN,Andrew NG's ML Specialization,NaN
71,Accepted,08/14/2022,10/26/2022,"{'institution': 'Small Liberal Arts School', '...",1,2 years technical role at large software compa...,I talked a lot about the ethical implications ...,NaN,"{'quantitative': 169, 'verbal': 158, 'writing'...","Some, but no certificate.",NaN

In [2]:
# Extract institution, degree, and GPA from 'education' field
new_df_combined['institution'] = new_df_combined['education'].apply(lambda x: x['institution'] if isinstance(x, dict) and 'institution' in x else None)
new_df_combined['degree'] = new_df_combined['education'].apply(lambda x: x['degree'] if isinstance(x, dict) and 'degree' in x else None)
new_df_combined['gpa'] = new_df_combined['education'].apply(lambda x: x['gpa'] if isinstance(x, dict) and 'gpa' in x else None)

# Drop the original 'education' column
new_df_combined = new_df_combined.drop('education', axis=1)
new_df_combined

,status,applicationDate,decisionDate,recommendations,experience,statementOfPurpose,comments,gre,moocs,relevantCreditCourses,institution,degree,gpa
0,Accepted,01/19/2021,04/23/2021,0,"Unrelated(Active Duty Air Force), open source ...",Y,"All A's for prereq's, including the ones on th...",NaN,NaN,NaN,Big State School,MS in Software Engineering,4.00
1,Accepted,12/28/2020,04/08/2021,1,"3 years as machine learning engineer, 3 years ...",Y,I also have publications and thesis. Generally...,NaN,NaN,NaN,University of Minnesota,MS in Computer Science,3.70
2,Rejected,01/12/2021,05/10/2022,1,"3 years, manufacturing, Python & SQL",Y,"Got rejected, but I've already accepted an adm...",NaN,NaN,NaN,University of Illinois,BS in Mechanical Engineering,3.75
3,Accepted,02/02/2021,04/08/2021,3,5 years in research in academia which involved...,Y,Nervous and will need to do a lot of studying ...,NaN,NaN,NaN,Not Stated,BS in Health Sciences,NaN
4,Accepted,03/18/2021,04/23/2021,3,NaN,Y,My Weakness - I know my 3.92 GPA seems like a ...,NaN,NaN,NaN,UT Austin,BS in Data Science,3.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Accepted,09/15/2022,10/26/2022,2,Manufacturing Operations and Quality 8 yrs,Talked about experience working on Stats and r...,NaN,NaN,Coursera ML Mathematics and Python,NaN,Not Stated,BS in Mechanical Engineering,3.50
68,Accepted,09/15/2022,11/03/2022,3,"Community college professor (tenured, 8 years)...",Explained the big project I wanted to work on ...,NaN,NaN,none,NaN,UCSD,MS in Materials Science,3.80
69,Accepted,06/05/2022,09/27/2022,0,"Not much, but I just accepted a position as an...",Explained how I am passionate about building a...,NaN,"{'quantitative': 160, 'verbal': 168, 'writing'...",1 - Deep Learning with PyTorch from IBM,NaN,UT Austin,MA in Economics,3.60
70,Accepted,08/06/2022,09/28/2022,2,"15 Years, Cloud, DevOps, Python, ML",Explained how my previous experience is relate...,NaN,NaN,Andrew NG's ML Specialization,NaN,Not Stated,BS in Mechanical Engineering,3.40
71,Accepted,08/14/2022,10/26/2022,1,2 years technical role at large software compa...,I talked a lot about the ethical implications ...,NaN,"{'quantitative': 169, 'verbal': 158, 'writing'...","Some, but no certificate.",NaN,Small Liberal Arts School,BS in Math,3.67